.materials-container {
    text-align: center;
    padding: 3rem 2rem;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

/* General Section */
.materials-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    position: relative;
    display: inline-block;
}

.materials-title::after {
    content: '';
    width: 50px;
    height: 4px;
    background-color: #F37022;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.materials-subtitle {
    font-size: 1.1rem;
    color: #777;
    margin-bottom: 2rem;
}

.materials-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

/* Materials Cards */
.materials-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    margin-bottom: 5rem;
    flex-direction: row;
    align-items: center;
    width: 48%;
}

.materials-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.materials-image {
    width: 40%;
    border-radius: 8px;
    margin-right: 1rem;
}

.materials-content {
    padding: 1rem 0;
    flex: 1;
}

.materials-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.materials-card-description {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 1rem;
}

/* Slider Styles */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 2rem;
}

.more-cases-section {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 0 1rem;
    margin-top: rem;
}

.more-cases-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex: 0 0 25%;
    margin-right: 1rem;
}

.more-cases-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.more-cases-card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.more-cases-card-description {
    font-size: 0.8rem;
    color: #777;
    margin-bottom: 1rem;
}

.materials-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid #F37022;
    color: #F37022;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.materials-button:hover {
    background-color: #F37022;
    color: #fff;
}

/* Slider Buttons */
.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-button.left {
    left: 0;
}

.slider-button.right {
    right: 0;
}

.slider-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}
